<html>
  <head>
    <title>Story</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>A fantastical adventure</h1>
      <p>One day, @Model.Person1 and @Model.Person2 were walking through the woods, when suddenly a giant @Model.Noun appeared. "@Model.Exclamation", @Model.Person1 cried. The two of them @Model.Verb as quickly possible, and when they were safe, @Model.Person1 and @Model.Person2 gave each other a giant @Model.Noun.</p>
      <a href="/">Back to Home!</a>
    </div>
  </body>
</html>