<html>
  <head>
    <title>Story2</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
  </head>
  <body>  
    <h1>A Mad Vacation</h1>
    <p>A vacation is when you take a trip to some @Model.Adjective place</p>
    <p>with your @Model.Adjective2 family. Usually you go to some place</p>
    <p>that is near a/an @Model.Noun or up on a/an @Model.Noun2.</p>
    <p>A good vacation place is one where you can ride @Model.PluralNoun</p>
    <p>or play @Model.Game or go hunting for @Model.PluralNoun2. I like</p>
    <p>to spend my time @Model.IngVerb. Last summer, my little brother</p>
    <p>fell in a/an @Model.Noun3 and got poison @Model.Plant all</p>
    <p>over his @Model.BodyPart. My family is going to go to (the)</p>
    <p>@Model.Location, and I will practice @Model.IngVerb2. Parents</p>
    <p>need vacations more than kids because parents are always very</p>
    <p>@Model.Adjective3 and because they have to work @Model.Number</p>
    <p>hours every day all year making enough @Model.PluralNoun3 to pay</p>
    <p>for the vacation.</p>
    <a href="/">Back to Home!</a>
  </body>
</html>